@font-face {
    font-family: 'Inter-Bold';
    src: url('/fonts/Inter-Bold.otf');
    font-style: normal;
}

@font-face {
    font-family: 'Inter-Light';
    src: url('/fonts/Inter-Light.otf');
    font-style: normal;
}

@font-face {
    font-family: 'Inter-Medium';
    src: url('/fonts/Inter-Medium.otf');
    font-style: normal;
}

@font-face {
    font-family: 'Inter-Regular';
    src: url('/fonts/Inter-Regular.otf');
    font-style: normal;
}

@font-face {
    font-family: 'Inter-SemiBold';
    src: url('/fonts/Inter-SemiBold.otf');
    font-style: normal;
}